In [55]:
import numpy as np
import pandas as pd

In [56]:
data =pd.read_csv('Fraud.csv')

In [57]:
# first five rows

data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [58]:
data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
1048570,95,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0
1048571,95,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0
1048572,95,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0
1048573,95,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0
1048574,95,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   step            1048575 non-null  int64
 1   type            1048575 non-null  object
 2   amount          1048575 non-null  float64
 3   nameOrig        1048575 non-null  object
 4   oldbalanceOrg   1048575 non-null  float64
 5   newbalanceOrig  1048575 non-null  float64
 6   nameDest        1048575 non-null  object
 7   oldbalanceDest  1048575 non-null  float64
 8   newbalanceDest  1048575 non-null  float64
 9   isFraud         1048575 non-null  int64
 10  isFlaggedFraud  1048575 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 88.0+ MB

In [60]:
# checking no of missing values
data .isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [61]:
data.shape

(1048575, 11)

In [62]:
# the distribution of legit transaction and fraudulent transactions

data['isFraud'].value_counts()

isFraud
0    1047433
1       1142
Name: count, dtype: int64

In [63]:
# the distribution of legit transaction and fraudulent transactions

data['isFlaggedFraud'].value_counts()

isFlaggedFraud
0    1048575
Name: count, dtype: int64

In [64]:
# data preprocessing 

data = data.drop(['nameOrig','nameDest'], axis = 1)

this dataset is highly unbalenced

0 -> Normal tarnsaction
1 -> fraudulent transaction

In [65]:
# statistical measure of the data
legit.newbalanceDest.describe()

count    1.047433e+06
mean     1.114237e+06
std      2.416575e+06
min      0.000000e+00
25%      0.000000e+00
50%      2.184841e+05
75%      1.150097e+06
max      4.220000e+07
Name: newbalanceDest, dtype: float64

In [66]:
# statistical measure of the data
legit.oldbalanceDest.describe()

count    1.047433e+06
mean     9.787328e+05
std      2.297312e+06
min      0.000000e+00
25%      0.000000e+00
50%      1.268638e+05
75%      9.169129e+05
max      4.210000e+07
Name: oldbalanceDest, dtype: float64

In [67]:
# import lable encoder
from sklearn import preprocessing

#lable_encoder object knows how to understand word lable.
label_encoder = preprocessing.LabelEncoder()

data['type'] = label_encoder.fit_transform(data['type'])

In [68]:
X,y = data.loc [:, data.columns != 'isFraud'], data['isFraud']

In [72]:
from sklearn.model_selection import train_test_split

# train test phases
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.40, random_state = 42)

In [73]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [75]:
#import Gaussian naive bayes model
from sklearn.naive_bayes import GaussianNB

#Import scikit-learn module for accuracy calculations
from sklearn import metrics 

#create Gaussian Classifier
gnb = GaussianNB()

#train the model using the training sets
gnb.fit(X_train, y_train)

#predict the response for test data set
y_pred = gnb.predict(X_test)
print("Accuracy:" , metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9717664449371767

In [77]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
print ("Accuracy : " , metrics.accuracy_score(y_test, y_pred))

Accuracy :  0.9991965286221777

# Explanation of the code:



Initially, we have loaded all the necessary libraries through which our dataset is loaded, and accordingly, we will make the further model. Secondly, we have checked that if the dataset contains any null values we need to clean our dataset and then move with further operations.
As the dataset does not contain any null values, so we can move ahead with further operations and can select the algorithm to train our dataset.
In this code, we have used Naïve Bayes and Gaussian classifiers along with logistic regression are used to train our model, and accordingly, we will test it.
Through sklearn module of python, we are importing the pre-processing module so that we can make our raw data suitable for further analysis.

# Questions:




1. Data cleaning including missing values, outliers and multi-collinearity.<br/> 

-> Missing Values: You checked for missing values using data.isnull().sum().

2. Describe your fraud detection model in elaboration.<br/> 


-> I utilized Gaussian Naive Bayes and Logistic Regression models for fraud detection.
Gaussian Naive Bayes is a probabilistic model that makes assumptions about the independence of features given the class.
Logistic Regression is a linear model that estimates the probability of a binary outcome.

3.How did you select variables to be included in the model? <br/>

-> I included all columns except 'isFraud' as features (X, y = data.loc[:, data.columns != 'isFraud'], data['isFraud']).
Label encoding was applied to the 'type' column.

4. Demonstrate the performance of the model by using best set of tools. <br/>

-> Accuracy was used as the performance metric (metrics.accuracy_score).
It would be beneficial to use additional metrics like precision, recall, and F1-score, especially for imbalanced datasets.

5. What are the key factors that predict fraudulent customer? <br/>

-> based on the labels isFraud and isFlaggedFraud

6. Do these factors make sense? If yes, How? If not, How not? <br/>

-> The sensibility of factors depends on the domain and the nature of the data.
Without a detailed analysis of feature importance or domain knowledge, it's challenging to assess if the selected factors make sense.

7. What kind of prevention should be adopted while company update its infrastructure? <br/>
-> Prevention strategies may include improving authentication mechanisms, implementing anomaly detection, and staying updated on security protocols.

8. Assuming these actions have been implemented, how would you determine if they work?<br/>
-> Post-implementation, monitor key metrics such as fraud detection rate, false positive rate, and overall accuracy.
Use A/B testing to compare the system's performance before and after the updates.
Regularly review and update the model based on new data and emerging fraud patterns.